<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleships Online</title>

    <link rel="stylesheet" href="public/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <nav id="myNavBar" class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">Link 1</span>
                        <span class="icon-bar">Link 2</span>
                        <span class="icon-bar">Link 3</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavBar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"></li>
                        <li></li>
                        <li style="margin-top: 20px"><a class="logo-border" href="#">
                            <img class="logo" src="public/img/ship/logo.png" alt="Battleship Online">
                        </a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="text-align: left;">
        <div class="title">GO BATTLE!!</div>
        <div class="row">
            <div class="col-lg-6 col-md-12 battle-board" style="float: left">
                <div class="location-number"></div>
                <div class="location-number">0</div>
                <div class="location-number">1</div>
                <div class="location-number">2</div>
                <div class="location-number">3</div>
                <div class="location-number">4</div>
                <div class="location-number">5</div>
                <div class="location-number">6</div>
                <div class="location-number">7</div>

                <div class="location-number">0</div>
                <div class="battle-location" rel="p00"></div>
                <div class="battle-location" rel="p01"></div>
                <div class="battle-location" rel="p02"></div>
                <div class="battle-location" rel="p03"></div>
                <div class="battle-location" rel="p04"></div>
                <div class="battle-location" rel="p05"></div>
                <div class="battle-location" rel="p06"></div>
                <div class="battle-location" rel="p07"></div>

                <div class="location-number">1</div>
                <div class="battle-location" rel="p10"></div>
                <div class="battle-location" rel="p11"></div>
                <div class="battle-location" rel="p12"></div>
                <div class="battle-location" rel="p13"></div>
                <div class="battle-location" rel="p14"></div>
                <div class="battle-location" rel="p15"></div>
                <div class="battle-location" rel="p16"></div>
                <div class="battle-location" rel="p17"></div>

                <div class="location-number">2</div>
                <div class="battle-location" rel="p20"></div>
                <div class="battle-location" rel="p21"></div>
                <div class="location" rel="p22"></div>
                <div class="battle-location" rel="p23"></div>
                <div class="battle-location" rel="p24"></div>
                <div class="battle-location" rel="p25"></div>
                <div class="battle-location" rel="p26"></div>
                <div class="battle-location" rel="p27"></div>

                <div class="location-number">3</div>
                <div class="battle-location" rel="p30"></div>
                <div class="battle-location" rel="p31"></div>
                <div class="battle-location" rel="p32"></div>
                <div class="battle-location" rel="p33"></div>
                <div class="battle-location" rel="p34"></div>
                <div class="battle-location" rel="p35"></div>
                <div class="battle-location" rel="p36"></div>
                <div class="battle-location" rel="p37"></div>

                <div class="location-number">4</div>
                <div class="battle-location" rel="p40"></div>
                <div class="battle-location" rel="p41"></div>
                <div class="battle-location" rel="p42"></div>
                <div class="battle-location" rel="p43"></div>
                <div class="battle-location" rel="p44"></div>
                <div class="battle-location" rel="p45"></div>
                <div class="battle-location" rel="p46"></div>
                <div class="battle-location" rel="p47"></div>

                <div class="location-number">5</div>
                <div class="battle-location" rel="50"></div>
                <div class="battle-location" rel="p51"></div>
                <div class="battle-location" rel="p52"></div>
                <div class="battle-location" rel="p53"></div>
                <div class="battle-location" rel="p54"></div>
                <div class="battle-location" rel="p55"></div>
                <div class="battle-location" rel="p56"></div>
                <div class="battle-location" rel="p57"></div>

                <div class="location-number">6</div>
                <div class="battle-location" rel="p60"></div>
                <div class="battle-location" rel="p61"></div>
                <div class="battle-location" rel="p62"></div>
                <div class="battle-location" rel="p63"></div>
                <div class="battle-location" rel="p64"></div>
                <div class="battle-location" rel="p65"></div>
                <div class="battle-location" rel="p66"></div>
                <div class="battle-location" rel="p67"></div>

                <div class="location-number">7</div>
                <div class="battle-location" rel="p70"></div>
                <div class="battle-location" rel="p71"></div>
                <div class="battle-location" rel="p72"></div>
                <div class="battle-location" rel="p73"></div>
                <div class="battle-location" rel="p74"></div>
                <div class="battle-location" rel="p75"></div>
                <div class="battle-location" rel="p76"></div>
                <div class="location" rel="p77"></div>
            </div>
            <div class="col-lg-6 col-md-12 battle-board" style="float: right;">
                <div class="location-number"></div>
                <div class="location-number">0</div>
                <div class="location-number">1</div>
                <div class="location-number">2</div>
                <div class="location-number">3</div>
                <div class="location-number">4</div>
                <div class="location-number">5</div>
                <div class="location-number">6</div>
                <div class="location-number">7</div>

                <div class="location-number">0</div>
                <div class="battle-location" rel="c00"></div>
                <div class="battle-location" rel="c01"></div>
                <div class="battle-location" rel="c02"></div>
                <div class="battle-location" rel="c03"></div>
                <div class="battle-location" rel="c04"></div>
                <div class="battle-location" rel="c05"></div>
                <div class="battle-location" rel="c06"></div>
                <div class="battle-location" rel="c07"></div>

                <div class="location-number">1</div>
                <div class="battle-location" rel="c10"></div>
                <div class="battle-location" rel="c11"></div>
                <div class="battle-location" rel="c12"></div>
                <div class="battle-location" rel="c13"></div>
                <div class="battle-location" rel="c14"></div>
                <div class="battle-location" rel="c15"></div>
                <div class="battle-location" rel="c16"></div>
                <div class="battle-location" rel="c17"></div>

                <div class="location-number">2</div>
                <div class="battle-location" rel="c20"></div>
                <div class="battle-location" rel="c21"></div>
                <div class="battle-location" rel="c22"></div>
                <div class="battle-location" rel="c23"></div>
                <div class="battle-location" rel="c24"></div>
                <div class="battle-location" rel="c25"></div>
                <div class="battle-location" rel="c26"></div>
                <div class="battle-location" rel="c27"></div>

                <div class="location-number">3</div>
                <div class="battle-location" rel="c30"></div>
                <div class="battle-location" rel="c31"></div>
                <div class="battle-location" rel="c32"></div>
                <div class="battle-location" rel="c33"></div>
                <div class="battle-location" rel="c34"></div>
                <div class="battle-location" rel="c35"></div>
                <div class="battle-location" rel="c36"></div>
                <div class="battle-location" rel="c37"></div>

                <div class="location-number">4</div>
                <div class="battle-location" rel="c40"></div>
                <div class="battle-location" rel="c41"></div>
                <div class="battle-location" rel="c42"></div>
                <div class="battle-location" rel="c43"></div>
                <div class="battle-location" rel="c44"></div>
                <div class="battle-location" rel="c45"></div>
                <div class="battle-location" rel="c46"></div>
                <div class="battle-location" rel="c47"></div>

                <div class="location-number">5</div>
                <div class="battle-location" rel="50"></div>
                <div class="battle-location" rel="c51"></div>
                <div class="battle-location" rel="c52"></div>
                <div class="battle-location" rel="c53"></div>
                <div class="battle-location" rel="c54"></div>
                <div class="battle-location" rel="c55"></div>
                <div class="battle-location" rel="c56"></div>
                <div class="battle-location" rel="c57"></div>

                <div class="location-number">6</div>
                <div class="battle-location" rel="c60"></div>
                <div class="battle-location" rel="c61"></div>
                <div class="battle-location" rel="c62"></div>
                <div class="battle-location" rel="c63"></div>
                <div class="battle-location" rel="c64"></div>
                <div class="battle-location" rel="c65"></div>
                <div class="battle-location" rel="c66"></div>
                <div class="battle-location" rel="c67"></div>

                <div class="location-number">7</div>
                <div class="battle-location" rel="c70"></div>
                <div class="battle-location" rel="c71"></div>
                <div class="battle-location" rel="c72"></div>
                <div class="battle-location" rel="c73"></div>
                <div class="battle-location" rel="c74"></div>
                <div class="battle-location" rel="c75"></div>
                <div class="battle-location" rel="c76"></div>
                <div class="battle-location" rel="c77"></div>
            </div>
            <div class="col-lg-12">
                <p>Your weapons:</p>
                <div class="weapons-container">
                    <div class="draggableWeapon radar">
                        <img src="public/img/radar.png" alt="">
                    </div>
                </div>
                <div class="weapons-container">
                    <div class="draggableWeapon bomb">
                        <img src="public/img/bomb.png" alt="">
                    </div>
                    <div class="draggableWeapon bomb">
                        <img src="public/img/bomb.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--END CONTAINER-->
<script src="public/js/jquery.min.js"></script>
<script src="public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="public/js/default.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
</body>
</html>