@font-face{
    font-family: "Flama Condensed Medium";
    src: url(../font/myFont.otf);
}

body{
    background: url("../img/bg.jpg");
    font-family: "Flama Condensed Medium";
}


/*NAVBAR*/
#pheader{
    background: #333333;
    height: 123px;
}
#ptopnav{
    border-bottom: 1px solid #FFF;
    height: 60px;
}
.login-box {
    margin-top: 13px;
}
.login-box a:first-child{
    border-left: 0;
}
.login-box a{
    color: #FFF;
    padding:10px 20px;
    text-transform: uppercase;
    display: inline-block;
    border-left:1px solid #FFF;
    font-size: 15px;
}
.m-b-10{
    margin-bottom: 10px;
}
.login-box a.lang{
    border: 0;
    padding: 0;
}
#pmainmenu .left-menu{
    width: 42%;
    float: left;
    text-align: right;
}
#pmainmenu .right-menu{
    width: 42%;
    float: left;
    text-align: left;
}
#pmainmenu .center-menu{
    position: relative;
    width: 15%;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: -50px;
}

#pmainmenu .center-menu img{
    position: absolute;
    left: 0%;
}

#pmainmenu .left-menu,#pmainmenu .center-menu,#pmainmenu .right-menu {
    display: block;
}
#pmainmenu  ul{
    margin: 10px 0;
    padding: 0;
}
#pmainmenu  ul li{
    display: inline-block;
    margin: 0;
    padding: 10px;
}
#pmainmenu ul li.active a,#pmainmenu ul li a:hover{
    border-bottom: 3px solid #FFF;
}
#pmainmenu ul li a{
    color: #FFF;
    padding: 0px ;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    text-align: right;
    border-bottom: 3px solid transparent;
}

#pslideshow img{
    width: 100%;
    height: 445px;
}

#pslideshow .pizza-logo img{
    width:60%;
    height: auto;
    margin: 40px 0 0 0;
}
.carousel-caption{
    top: 5%;
    width: 387px;
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
}
.btn-danger,.btn-danger:hover {
    color: #fff;
    background-color: #8f1f23;
    border-color: #8f1f23;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #CCC;
    border: 1px solid #b7b7b7;
}

/*END --- NAVBAR*/

/*CHOOSE MODE*/
.btn-select{
    padding: 20px 40px;
    font-size: 30px;
    color: #333;
    border: 1px solid #ccc;
    width: 230px;
    margin: 30px auto 10px;
}

.btn-select:hover{
    color: #f2f2f2;
    background: #3c3c3c;
}
/*END --- CHOOSE MODE*/



#myNavBar .navbar-nav {
    width: 100%;
    text-align: center;
}
#myNavBar .navbar-nav li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
#myNavBar .navbar-nav a{
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    position: absolute;
    left: -15%;
    top: -10%;
    width: 250px;
    height: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.logo-border {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-color: #003300;
}

.container{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
}

.header{
    text-align: center;
    background-color: #fff;
}

.header h2{
    margin: 0;
    line-height: 50px;
    color: #000;
    font-family: "Flama Condensed Medium";
    text-shadow: 2px 2px 4px #666;
}

.navbar{
    border-radius: 0;
    margin-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 1px 2px #ccc;
}

.board {
    width: 360px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.frame{
    height: 360px;
}

.ship-area{
    display: inline-block;
    vertical-align: middle;
}

.location{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid transparent;
    border-color: #000;
    display: inline-block;
    margin: 0;
    float: left;
}
.location-number{
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    text-align: center;
    line-height: 40px;
}

.draggable {
    position: relative;
    display: inline;
    padding: 0;
}

.draggable.ui-draggable-dragging {
    opacity: 0.5;
}

.ship-container{
    display: block;
    height: 40px;
}
.ship-2 {
    position: absolute;
}
.ship-2 img{
    height: 39px;
    width: 79px;
}
.ship-3 {
    position: absolute;
}
.ship-3 img{
    height: 39px;
    width: 119px;
}
.ship-4 {
    position: absolute;
}
.ship-4 img{
    height: 39px;
    width: 159px;
}
.ship-5 {
    position: absolute;
}
.ship-5 img{
    height: 39px;
    width: 199px;
}

.navbar-inner ul li{
    /*pointer-events: none;*/
}

.next, .prev{
    margin: 20px;
}

/*WEAPONS*/

.weapon{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.weapon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.weapons{
    margin-bottom: 40px;
}

.pay{
    padding: 10px 20px;
    margin: 20px auto;
}

.total-point{
    font-size: 18px;
    color: #2a8fbd;
}

/*END --- WEAPONS*/

.battle-board {
    width: 360px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    margin: 5%;
}

.battle-location{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid transparent;
    border-color: #000;
    display: inline-block;
    margin: 0;
    float: left;
    background-size: 40px 40px;
}

/************************************
                FOOTER
************************************/

footer{
    background-color: #333333;
    color: #f2f2f2;
    box-shadow: 0 3px 1px rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Flama Condensed Medium', sans-serif;
}

footer .row{
    padding: 10px 30px 0;
    /*    background-color: #333333;
        box-shadow: 0 0 3px silver;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;*/
}

.footer-component{
    padding: 30px 30px;
}

#footer-component-1 img{
    padding-bottom: 15px;
}

#footer-component-1 div button{
    margin: auto;
}

#contact-through ul{
    width: 100%;
    height: 35px;
    text-align: center;
    align-self: center;
    margin: 0 auto 10px;
    padding: 0;
}

#contact-through ul li{
    list-style: none;
    display: inline-block;
}

.fa {
    padding: 10px;
    font-size: 35px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #2a8fbd;
    color: white;
}

.fa-twitter {
    background: #2a8fbd;
    color: white;
}

.fa-flickr {
    background: #2a8fbd;
    color: white;
}


.fa-linkedin {
    background: #2a8fbd;
    color: white;
}

.fa-tumblr {
    background: #2a8fbd;
    color: white;
}

#footer-component-1 p{
    color: #999;
}

#footer-component-2{
    padding: 30px 20px;
    /*    font-family: 'Roboto', arial, helvetica, sans-serif;*/
}

#footer-component-2 form{
    color: #666;
}

#footer-component-2 form p{
    color: #999;
    margin-top: 10px;
}
#footer-component-2 .btn-primary{
    background-color: #2a8fbd;
    border-color: #2a8fbd;
}

#footer-component-2 .btn-primary:hover{
    background-color: #337ab7
}

#footer-component-4{
    padding-bottom: 20px;
}

.thumb-list{
    width: 100%;
}

.thumb-list li{
    display: block;
    list-style: none;
    margin-bottom: 15px;
}

.thumb-list li a img{
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 3px;
    margin-right: 5px;
}

.thumb-list li a{
    color: #5c5c5c;
}

.thumb-list .thumb-list-item-caption{
    display: table;
    /*    padding-left: 5px;*/

}

.thumb-list-item-caption .thumb-list-item-meta{
    display: block;
    color: #e6e6e6;
    font-size: 11px;
    font-style: italic;
    line-height: 1em;
    margin-bottom: 5px;
}

.thumb-list-item-caption .thumb-list-item-title{
    display: block;
    color: #f2f2f2;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 2px;
}

.thumb-list-item-caption .thumb-list-item-title h5{
    font-weight: 400;
}

.thumb-list-item-caption .thumb-list-item-description{
    display: block;
    color: #ccc;
    font-size: 12px;
    margin: 0;
}

/*TWITTER*/
.tweet-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.twitter .tweet-list li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
    line-height: 16px;
}
.twitter .tweet-list li:before {
    font-size: 17px;
    color: rgba(0,0,0,0.3);
    content: '\f099';
    font-family: 'Flama Condensed Medium';
    position: absolute;
    top: 0;
    left: 0;
}
.twitter .tweet-list li .time {
    display: block;
    font-size: 13px;
}
.twitter-ticker {
    padding: 15px;
    background: #141414;
    position: relative;
    margin-bottom: 56px;
    font-size: 14px;
}
.twitter-ticker .tweet-list {
    height: 9em;
    overflow: hidden;
}
.twitter-ticker .tweet-list li {
    line-height: 16px;
    height: 9em;
    color: #b3b3b3;
}
.twitter-ticker:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    left: 50%;
    margin-left: -13px;
    bottom: -13px;
    background: #141414;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.twitter-ticker:after {
    position: absolute;
    content: '\f099';
    font-family: 'Flama Condensed Medium';
    display: block;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -25px;
    font-size: 25px;
    color: #ccc;
    bottom: -56px;
    text-align: center;
}
.tweet-time {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}
.tweet-text {
    font-size: 13px;
}

.tweet-time a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.tweet-text a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
}
.tweet-list span{
    color: #b3b3b3;
}
/*END TWITTER*/