@font-face{
    font-family: "Flama Condensed Medium";
    src: url(../font/myFont.otf);
}

body{
    background: url("../img/bg.jpg");
    font-family: "Flama Condensed Medium";
}


/*NAVBAR*/
#pheader{
    background: #333333;
    height: 123px;
}
#ptopnav{
    border-bottom: 1px solid #FFF;
    height: 60px;
}
.login-box {
    margin-top: 13px;
}
.login-box a:first-child{
    border-left: 0;
}
.login-box a{
    color: #FFF;
    padding:10px 20px;
    text-transform: uppercase;
    display: inline-block;
    border-left:1px solid #FFF;
    font-size: 15px;
}
.m-b-10{
    margin-bottom: 10px;
}
.login-box a.lang{
    border: 0;
    padding: 0;
}
#pmainmenu .left-menu{
    width: 42%;
    float: left;
    text-align: right;
}
#pmainmenu .right-menu{
    width: 42%;
    float: left;
    text-align: left;
}
#pmainmenu .center-menu{
    position: relative;
    width: 15%;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: -50px;
}

#pmainmenu .center-menu img{
    position: absolute;
    left: 0%;
}

#pmainmenu .left-menu,#pmainmenu .center-menu,#pmainmenu .right-menu {
    display: block;
}
#pmainmenu  ul{
    margin: 10px 0;
    padding: 0;
}
#pmainmenu  ul li{
    display: inline-block;
    margin: 0;
    padding: 10px;
}
#pmainmenu ul li.active a,#pmainmenu ul li a:hover{
    border-bottom: 3px solid #FFF;
}
#pmainmenu ul li a{
    color: #FFF;
    padding: 0px ;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    text-align: right;
    border-bottom: 3px solid transparent;
}

#pslideshow img{
    width: 100%;
    height: 445px;
}

#pslideshow .pizza-logo img{
    width:60%;
    height: auto;
    margin: 40px 0 0 0;
}
.carousel-caption{
    top: 5%;
    width: 387px;
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
}
.btn-danger,.btn-danger:hover {
    color: #fff;
    background-color: #8f1f23;
    border-color: #8f1f23;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #CCC;
    border: 1px solid #b7b7b7;
}

/*END --- NAVBAR*/


#myNavBar .navbar-nav {
    width: 100%;
    text-align: center;
}
#myNavBar .navbar-nav li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
#myNavBar .navbar-nav a{
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    position: absolute;
    left: -15%;
    top: -10%;
    width: 250px;
    height: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.logo-border {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-color: #003300;
}

.container{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
}

.header{
    text-align: center;
    background-color: #fff;
}

.header h2{
    margin: 0;
    line-height: 50px;
    color: #000;
    font-family: "Flama Condensed Medium";
    text-shadow: 2px 2px 4px #666;
}

.navbar{
    border-radius: 0;
    margin-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.board {
    width: 360px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.frame{
    height: 360px;
}

.ship-area{
    display: inline-block;
    vertical-align: middle;
}

.location{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid transparent;
    border-color: #000;
    display: inline-block;
    margin: 0;
    float: left;
}
.location-number{
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    text-align: center;
    line-height: 40px;
}

.draggable {
    position: relative;
    display: inline;
    padding: 0;
}

.draggable.ui-draggable-dragging {
    opacity: 0.5;
}

.ship-container{
    display: block;
    height: 40px;
}
.ship-2 {
    position: absolute;
}
.ship-2 img{
    height: 39px;
    width: 79px;
}
.ship-3 {
    position: absolute;
}
.ship-3 img{
    height: 39px;
    width: 119px;
}
.ship-4 {
    position: absolute;
}
.ship-4 img{
    height: 39px;
    width: 159px;
}
.ship-5 {
    position: absolute;
}
.ship-5 img{
    height: 39px;
    width: 199px;
}

.navbar-inner ul li{
    /*pointer-events: none;*/
}

.next, .prev{
    margin: 20px;
}

/*WEAPONS*/

.weapon{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.weapon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.weapons{
    margin-bottom: 40px;
}

.pay{
    padding: 10px 20px;
    margin: 20px auto;
}

.total-point{
    font-size: 18px;
    color: #2a8fbd;
}

/*END --- WEAPONS*/

.battle-board {
    width: 360px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    margin: 5%;
}

.battle-location{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid transparent;
    border-color: #000;
    display: inline-block;
    margin: 0;
    float: left;
    background-size: 40px 40px;
}
